
    <div class="cont">
        <div class="content_login">
            <div class="main_login">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="name">
                            <label for="inputName" class="control-label l">用户编号：</label>
                            <input type="text" class="form-control l" id="inputName" ng-model="uCode">
                        </div>
                    </div>
                    <div class="form-group cl">
                        <div class="pwd">
                            <label for="inputPassword3" class="control-label l">密 &nbsp;&nbsp;&nbsp;&nbsp;  码：&nbsp;</label>
                            <input type="password" class="form-control" id="inputPassword3" ng-model="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="buttons">
                            <button type="submit" class="btn btn-primary" ng-click="loginSystem()">登录</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="btn btn-primary">重置</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
